*{
    margin: auto;
    padding: auto;
}

body{
    background-image: url(assests/delivery-truck.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    color: white;
    font-family: sans-serif,poppins;
}

header{
    background-color: rgba(255, 228, 196, 0.526);
    padding: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1{
    font-size: 30px;
    color: rgb(48, 14, 80);
    letter-spacing: 1.5px;
}


.nav-right-section ul li a{
    font-size: 18px;
    color:rgb(48, 14, 80) ;
    text-decoration: none;
    transition: linear 0.4s;
}
ul li{
    list-style: none;
    padding: 15px;
}
ul li a:hover{
    color:rgb(18, 118, 240) ;
}
ul{
    display: flex;
    justify-content: space-between;
}