*{
    margin: auto;
    padding: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #87CEFA;
    color: white;
    font-family: sans-serif,poppins;
    height: 2000px;
}


header{
    background-color: rgb(99, 121, 218);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1{
    font-size: 30px;
    color: rgb(48, 14, 80);
    letter-spacing: 1.5px;
    cursor:default;
}


.nav-right-section ul li a{
    font-size: 18px;
    color:rgb(48, 14, 80) ;
    text-decoration: none;
    transition: linear 0.4s;
}
.navbar-alignment li{
    list-style: none;
    padding: 15px;
}
.navbar-alignment li a:hover{
    color:rgb(18, 240, 229) ;
}
.navbar-alignment{
    display: flex;
    justify-content: space-between;
}

#Home{
    /* background-color: rgba(0, 0, 0, 0.37); */
    height: 600px;
    padding-top: 10rem;
    z-index: -1;   
}
.home-details{
    display: flex;
    justify-content: space-evenly;
}

.home-left-section h1{
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-size: 35px;
    color:blueviolet;
    text-shadow: black;
    cursor: default;
    text-shadow: 1px 1px 10px rgb(255, 255, 255),
    1px 1px 10px rgb(209, 175, 175),
    1px 1px 10px rgb(255, 255, 255),
    1px 1px 10px rgb(255, 255, 255);
}

.home-left-section p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 2px;
    color: black;
    padding: 5px 35px;
    cursor: default;
}
.img1{
    width: 25rem;
    height: 24rem;
    border-radius: 50%;
    box-shadow: 1px 10px 20px 20px rgb(67, 65, 65);
}

.img2{
    position: relative;
    width: 5rem;
    height: 5rem;
    padding-left: 5rem;
    animation: delivery-boy 15s infinite;
}

@keyframes delivery-boy{
    from{padding-left: 0rem;}
    to{padding-left: 50rem;}
}

#road{
    margin-right: 34.5rem;
    width: 54.5rem;
    height: 3px;
    background-color: black;
}

#Services{
    padding-top: 15rem;
    background-color: black;
    height: 360px;
}