*{
    margin: auto;
    padding: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #87CEFA;
    color: white;
    font-family: sans-serif,poppins;
}


header{
    background-color: rgb(99, 121, 218);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1{
    font-size: 30px;
    color: rgb(48, 14, 80);
    letter-spacing: 1.5px;
    cursor:default;
}


.nav-right-section ul li a{
    font-size: 18px;
    color:rgb(48, 14, 80) ;
    text-decoration: none;
    transition: linear 0.4s;
}
.navbar-alignment li{
    list-style: none;
    padding: 15px;
}
.navbar-alignment li a:hover{
    color:rgb(18, 240, 229);
}

.navbar-alignment{
    display: flex;
    justify-content: space-between;
}

#Home{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("/Transport-management-project/assests/delivery-location.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 10rem;
    z-index: -1;   
}
.home-details{
    display: flex;
    justify-content: space-evenly;
}

.home-left-section h1{
    padding-top: 2rem;
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-size: 35px;
    color:blueviolet;
    text-shadow: black;
    cursor: default;
    text-shadow: 1px 1px 10px rgb(255, 255, 255),
    1px 1px 10px rgb(209, 175, 175),
    1px 1px 10px rgb(255, 255, 255),
    1px 1px 10px rgb(255, 255, 255);
}

.home-left-section p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 2px;
    color: white;
    padding: 5px 35px;
    cursor: default;
}
.img1{
    width: 25rem;
    height: 24rem;
    border-radius: 50%;
    opacity: 0.3;
    box-shadow: 1px 10px 20px 20px rgb(67, 65, 65);
}

.img2{
    padding-top: 20rem;
    position: relative;
    width: 5rem;
    height: 5rem;
    padding-left: 5rem;
    animation: delivery-boy 15s infinite;
}

@keyframes delivery-boy{
    from{padding-left: 0rem;}
    to{padding-left: 50rem;}
}

#road{
    margin-right: 34.5rem;
    width: 54.5rem;
    height: 3px;
    background-color: black;
    box-shadow: 0.5px 1px 15px  black;
}

#Services{
    background-image:linear-gradient(rgba(0, 0, 0, 0.388),rgba(0, 0, 0, 0.36),rgba(0, 0, 0, 0.344)),url("/Transport-management-project/assests/7466881.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 15rem;
    height: 520px;
}

.services-details{
    border: 2px solid black;
    width: 500px;
    height: 220px;
    border-radius: 15px;
    padding:15px 25px;
    margin-right: 120px;
    background-color: rgba(234, 255, 127, 0.2);
    box-shadow: 1px 10px 25px 10px black;
}

.types-of-services h2{
    padding: 5px 5px;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.types-of-services p{
    font-size: 15px;
    padding-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#About{
    background-image:linear-gradient(rgba(0, 0, 0, 0.388),rgba(0, 0, 0, 0.36),rgba(0, 0, 0, 0.344)),url("/Transport-management-project/assests/delivery-truck.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}
